body{
    font-family: Helvetica;
    font-size: 20px;
}
.logo{
    float:left;
}
#nav {
    height: 18vh;
	padding: 0; margin-right: 20px;
	text-align: right;
}
#nav li {
	display: inline;
	list-style: none;
}
#nav a:hover{
    color:#C82C8D;
    border-bottom: 2px solid #C82C8D;
    border-width: 2px;
    border-radius: 2px;
}
#nav a {
     padding-top: 2%;
	display:inline-block;
	margin: 0 30px;
    text-decoration: none;
    color:#77961D;
    font-weight: bold;
    font-size: 18px;
}
.text-banner{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;  
    background-position: right;
    width:auto;
  height:20vh;
  background-image: url(../images/bkg-blu.jpg);
}
h5{
  font-size:xx-large;
  margin-left:8%;
  color: #4eb5f1;
}
.container{
    display: grid;
    grid-template-columns: 1.8fr 5fr;
    margin:2% auto;
    height: auto;
    width: 90vw;
}
aside{
    /*border:1px solid green;*/
    height: 34vh;
    margin:16% auto;
    width: 18vw;
    padding: 18px;
    position: fixed;
    right: 0;
    top: 10%;
}
aside ul li {
    list-style: none;
    margin-top:10%;
    
}
ul li a{
    text-decoration: none;
     margin-top:0%;
     color:rgb(13, 137, 238);
    font-weight: bold;
    font-size: 18px;
   
}
.content{
    /*border:1px solid violet;*/
    width: 70vw;
    margin:2% auto;
    padding: 20px;
    text-align: justify;
    height:auto;
    background-color: #edf6f5!important;
}
h3{
    color:rgb(13, 137, 238);
}
.text-bloc,.fac-title,b{
    color: #222;
    font-family: lato,sans-serif;
    line-height: 1.2;
    text-align: justify;
}
.fac-title{
    font-size: 18px;
}
.list-obj{
   border-left: 3px solid #222;
   width: auto;
   height: auto;
   background-color: #fff;
   border-radius: 0px 12px 12px 0px;
   margin: 2%;
   padding: 2%;
}
.list-obj li{
    margin-left: 2%;
}
.admin-diagram{
    width: 78vw;
    height: 78vh;
}


