body{
    font-family: Helvetica;
    font-size: 20px;
}
.logo{
    float:left;
}
#nav {
    height: 18vh;
	padding: 0; margin-right: 20px;
	text-align: right;
}
#nav li {
	display: inline;
	list-style: none;
}
#nav a:hover{
    color:rgb(167, 13, 238);
    border-bottom: 2px solid rgb(167, 13, 238);
    border-width: 2px;
    border-radius: 2px;
}
#nav a {
     padding-top: 2%;
	display:inline-block;
	margin: 0 30px;
    text-decoration: none;
    color:rgb(13, 137, 238);
    font-weight: bold;
    font-size: 18px;
}
.text-banner{
  width:auto;
  height:20vh;
  background-image: url(../images/bkg-blu.jpg);
  display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;  
    background-position: right;
}
h5{
  font-size:xx-large;
  color: rgb(167, 13, 238);
  margin-left:8%;
}
.form{
    max-width: 480px;
    margin:auto;
    margin-top:2%;
    background-color: rgba(238, 232, 232);
    background:url("../images/etudiant1.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align:center;
    border-radius:12px;
    box-sizing: border-box;
    border:0px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:12px;
    height: 70vh;
 
}
form{
    
    width: 30vw;
    height: 60vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-group{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:12%;
}
input[type="email"],input[type="password"]{
    padding-left:1em;
    width: 20vw;
    height: 50px;
    border-radius: 14px;
    outline: none;
    border:0px;
    margin-left:2%;
}
input[type="submit"]{
    width: 180px;
    height: 50px;
    border-radius: 14px;
    border:1px solid rgb(212, 209, 209);
    outline: none;
    font-size: 20px;
    font-weight: bold;
    color:blueviolet;
    cursor: pointer;
}
input[type="submit"]:hover{
   color: rgb(0, 255, 85);
    background-color: rgb(113, 112, 182);
}
input[type="password"]:focus,input[type="email"]:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 2px solid #88D5E9;
}
a{
     display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color:rgba(4, 81, 248, 0.822);


}
i{
    color:rgba(4, 81, 248, 0.822);
}