body{
    font-family: Helvetica;
    font-size: 20px;
}
.logo{
    float:left;
}
#nav {
    height: 18vh;
	padding: 0; margin-right: 20px;
	text-align: right;
}
#nav li {
	display: inline;
	list-style: none;
}
#nav a:hover{
    color:#C82C8D;
    border-bottom: 2px solid #C82C8D;
    border-width: 2px;
    border-radius: 2px;
}
#nav a {
     padding-top: 2%;
	display:inline-block;
	margin: 0 30px;
    text-decoration: none;
    color:#77961D;
    font-weight: bold;
    font-size: 18px;
}
.text{
  /*border:1px solid black;*/
  width: 40vw;
  padding: 20px;
  text-align: justify;
}
.text-banner{
  width:auto;
  height:20vh;
  background-image: url(../images/bkg-blu.jpg);
  display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;  
    background-position: right;
}
span{
  font-weight: bold;
  font-size: 18px;
}
.span-color,.label-color,.h4-color{
  color: #4eb5f1;
}
h4{
  text-align: center;
}
img{
  display: block;
  margin:0 auto;
}
h5{
  font-size:xx-large;
  margin-left:8%;
  color: #4eb5f1;
}
.social-link{
    width: 40vw;
    padding:10px;
    font-size: 18px;
}
.social-link ul li{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*border:0px solid rgb(90, 88, 88);*/
    list-style: none;
}
.facebook{
    background-color:white;
    color:rgb(32, 35, 235);
}
.twitter{
    background-color:white;
    color:#02b7ff;
}
.linkedin{
    background-color:#0E76A8;
    color:white;
}
.github{
    background-color:white;
    color:#171515;
}
.youtube{
    background-color:#C4302B;
    color:white;
}.instagram{
    background:#ee1717;
    color:white;
}
ul .link a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color:rgb(13, 137, 238);
}
.container{
    margin:0 auto;
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 2em;
}
.form-style {
  margin:10px auto;
  width: 400px;
  padding: 20px 12px 10px 20px;
  font-family: Helvetica;
  font-size: 14px;
}
form{
    /*border:1px solid black;*/
    width: 40vw;
}
.form-style td {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.form-style label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}

.form-style .required{
  color:red;
}
.form-style input[type=submit], .form-style input[type=reset]{
  background: #4eb5f1;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  border-radius: 12px;
  margin-top: 10%;
  
}
.form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
  background: #0E76A8;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.form-style input[type=reset]:hover{
    background-color: #C4302B;

}
.form-style .field-textarea{
  height: 100px;
}
.form-style input[type=text], 
.form-style input[type=email],
textarea{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  outline: none;  
}
.form-style .long{
  width: 100%;
}
.form-style input[type=text]:focus, 
.form-style input[type=email]:focus,
.form-style textarea:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
.error{
  color: #D8000C;
  background-color: #FFBABA;
}