body{
    font-family: Helvetica;
    font-size: 20px;
}
.logo{
    float:left;
}
#nav {
    height: 18vh;
	padding: 0; margin-right: 20px;
	text-align: right;
}
#nav li {
	display: inline;
	list-style: none;
}
#nav li a:active
{
    color:rgb(167, 13, 238);
    font-size: 20px;
}
#nav li a:hover{
    border-bottom: 0px solid rgb(167, 13, 238);
    border-width: none;
}
#nav a:hover{
    color:rgb(167, 13, 238);
    border-bottom: 2px solid rgb(167, 13, 238);
    border-width: 2px;
    border-radius: 2px;
}
#nav a {
     padding-top: 2%;
	display:inline-block;
	margin: 0 30px;
    text-decoration: none;
    color:rgb(13, 137, 238);
    font-weight: bold;
    font-size: 18px;
}
.banner{
    width: 96vw;
    height: 90vh;
    margin:1% auto;
}
.slider1,.slider2,.slider3{
    position: absolute;
    width: 96vw;
    height: 94vh;
    border-radius: 0px;
}
.slider1{
    background-image: url(../images/campus1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade1 30s infinite;
}
.slider2{
    background-image: url(../images/campus222.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade2 30s infinite;
}
.slider3{
    background-image: url(../images/campus33.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade3 30s infinite;
}
span{
  font-weight: bold;
  font-size: 18px;
}
.message-text{
    font-family:Helvetica;
    font-weight: 500;
}
.span-color,.label-color,.h4-color{
    color:rgb(167, 13, 238);
}/*
.slider4{
    background-image: url(../images/campus4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade4 5s infinite;
    height: 100vh;
}
.slider5{
    background-image: url(../images/campus5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade5 5s infinite;
    height: 100vh;
}.slider6{
    background-image: url(../images/campus6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade6 5s infinite;
    height: 100vh;
}*/
@keyframes fade1{
    0%{
        opacity:1;
    }
    25%{
        opacity:0;
    }
    75%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
@keyframes fade2{
    0%{
        opacity:0;
    }
    25%{
        opacity:1;
    }
    75%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
@keyframes fade3{
    0%{
        opacity:0;
    }
    25%{
        opacity:0;
    }
    75%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}/*
@keyframes fade4{
    0%{
        opacity:0;
    }
    25%{
        opacity:0;
    }
    75%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
@keyframes fade5{
    0%{
        opacity:1;
    }
    25%{
        opacity:0;
    }
    75%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
@keyframes fade6{
    0%{
        opacity:1;
    }
    25%{
        opacity:0;
    }
    75%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
img[src="./images/unnamed (2).jpg"]{
    width: 90vw;
    height: auto;
    text-align:center;
    margin :1% auto;
    display:flex;
}*/
.article{
    width: 90vw;
    margin:4% auto;
}
.message{
    text-align: justify;
    font-size: 18px;
    border: 0px solid black;
    background-color: rgba(223, 221, 221, 0.205);
    padding:14px;
    border-radius:12px;
}
.before-stat{
    text-align: center;
    margin-top:2%;
}
.stat{
    margin:2% auto;
    display: flex;
    flex-direction: row;
}
.group{
    border:0px solid black;
    height: auto;
    width: 20vw;
    border-radius: 12px;
    padding: 2px;
    margin-right: 2%;
    margin:0 auto;
    color:white;
}
.bts,.licence,.master1,.master2{
    background-color: rgb(114, 26, 214);
}
.bts:hover{
    background-color: rgb(10, 240, 106);
}
.licence:hover{
    background-color: rgb(10, 240, 152);
}
.master1:hover{
    background-color: rgb(10, 186, 240);
}
.master2:hover{
    background-color: rgb(10, 110, 240);
}
.group:hover{
    -moz-box-shadow: 0 0 8px rgba(223, 221, 221, 0.747);
    -webkit-box-shadow: 0 0 8px rgba(223, 221, 221, 0.747);
    box-shadow: 0 0 8px rgba(223, 221, 221, 0.747);
    border: 0.5px solid rgba(223, 221, 221, 0.384);
}

h3,#compteur,#compteur1,#compteur2,#compteur3,.up{
    text-align: center;
}
#compteur,#compteur1,#compteur2,#compteur3{
    font-size: 30px;
    font-weight: bold;
}
.cape{
    text-align: center;
}   
.newsletter{
    margin:0 auto;
}
.newsletter-title-form{
    margin-left:2%;
    font-weight:400;
}
.form{
    border-radius: 12px;
    border:0px solid black;
    background-color: rgb(206, 202, 202);
    margin-top:2%;
    padding:12px;
}
::placeholder{
    font-size:20px;
    font-weight: 500;
    font-style: italic;
    color:rgb(179, 169, 169);
}
.input{
    margin-left:2%;
    margin-bottom:2%;
}
input[type="email"]{
    padding-left:2em;
    width: 70vw;
    height: 50px;
    border-radius: 14px;
    outline: none;
    border:0px;
}
.input input[type="email"]:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 3px solid #88D5E9;
}
input[type="submit"]{
    width: 180px;
    height: 50px;
    border-radius: 14px;
    border:0px;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    color:blueviolet;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: rgb(170, 112, 224);
    color:white;
}
.footer{
    border:0px solid black;
    margin-top:2%;
    background-color: rgb(24, 22, 22);
    color:white;
    border-radius:12px;
}
footer{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-left:14px;
    padding-right: 14px;
}
span{
    font-weight: bold;
    color:blueviolet;
}
.recap{
    width: 40vw;
    padding: 14px;
    text-align: justify;
    font-size: 18px;
}
.footer-nav-link{
    width: 20vw;
    padding: 6px;
    font-size: 18px;
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-nav-link ul li{
    margin-top:10%;
    list-style: none;
}
.social-link ul li{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:0px solid rgb(90, 88, 88);
    list-style: none;
}
.facebook:hover{
    background-color:white;
    color:rgb(32, 35, 235);
}
.twitter:hover{
    background-color:white;
    color:#02b7ff;
}
.linkedin:hover{
    background-color:#0E76A8;
    color:white;
}
.github:hover{
    background-color:white;
    color:#171515;
}
.youtube:hover{
    background-color:#C4302B;
    color:white;
}.instagram:hover{
    background-color:#ee1717;
    color:white;
}

/*.instagram{
     width: 40px;
    height: 40px;
    background-image: url(../images/instagram.png);
    background-size: cover;
    background-repeat: no-repeat;
}.twitter{
     width: 40px;
    height: 40px;
    background-image: url(../images/twitter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}.linkedin{
     width: 40px;
    height: 40px;
    background-image: url(../images/linkedin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}.github{
     width: 40px;
    height: 40px;
    background-image: url(../images/github.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}.youtube{
     width: 40px;
    height: 40px;
    background-image: url(../images/youtube.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}*/
ul .link a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color:rgb(13, 137, 238);
}
.social-link{
    width: 40vw;
    padding:30px;
    font-size: 18px;
}
.social-link ul li{
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}