body{
    font-family: "lato";
    font-size: 20px;
}
.logo{
    float:left;
}
#nav {
    height: 18vh;
	padding: 0; margin-right: 20px;
	text-align: right;
}
#nav li {
	display: inline;
	list-style: none;
}
#nav a:hover{
    color:#C82C8D;
    border-bottom: 2px solid #C82C8D;
    border-width: 2px;
    border-radius: 2px;
}
#nav a {
     padding-top: 2%;
	display:inline-block;
	margin: 0 30px;
    text-decoration: none;
    color:#77961D;
    font-weight: bold;
    font-size: 18px;
}
a:active{
    border-width: 2px;
    border-radius: 2px;
}
.active{
    border-width: 2px;
    border-radius: 2px;
}
#nav .active:hover a{
    border-bottom: none;
}
.active a{
      color:#C82C8D! important;
}
.banner{
    width: auto;
    height: 90vh;
    margin:0% auto;
}
.slider1,.slider2,.slider3{
    position: absolute;
    width: 86vw;
    height: 94vh;
    border-radius: 0px;
}
.slider1{
    background-image: url(../images/header1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.text-banner{
    padding: 100px;
    color: rgb(43, 41, 41);
}
.signup-link{
    border:1px solid black;
    width:12vw;
    height:8vh;
    background-color:#A2C53D;
    margin-top:8%;
    outline: none;
    border-color: #A2C53D;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}.signup-link:hover{
    background-color:#C82C8D;
     border-color: #C82C8D;
}
.signup-link a[href="./inscription.php"],.signup-link a[href="./postuler.php"]{
    text-decoration: none;
    color: white;   
}
span,.signup-link a{
  font-weight: bold;
  font-size: 18px;
}
.message-text{
    font-family:Helvetica;
    font-weight: 500;
}
.span-color,.label-color,.h4-color{
    color:rgb(167, 13, 238);
}
.article{
    width: auto;
    margin:4% auto;
}
.bg-lightblue{
    background-color: #edf6f5!important;
    width: 100%;
    height: auto;
    padding: 2%;
}
.method h2{
    text-align: center;
    color: #222;
    font-family: lato,sans-serif;
    font-weight: 700;
    line-height: 1.2;
}
.first-row{
    display: flex;
    flex-direction: row;
    gap:2em;
    justify-content: center;
    margin-top: 2%;
}
.first-row>.card{
    border:0px solid black;
    height: 26vh;
    width: 24vw;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 30px;
    transition: .2s ease;
    background-color: #fff;
}
.first-row>.card:hover{
    box-shadow: 0 12px 24px 8px rgba(45,67,121,.1)!important;
}
.la-wave-square,.la-box-open,.la-money-check-alt,.la-assistive-listening-systems,.la-cloud-upload-alt,.la-clock{
   display: flex;
    flex-flow: row;
    justify-content: center;
    color: #0aa8a7
}
.card>p{
    text-align: center;
    font-weight: 400;
    color: #777;
    font-size: 16px;
    line-height: 1.7;
    font-family: "lato",sans-serif;
}
.card>h4{
    text-align: center;
    color: #222;
    font-family: lato,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 20px;
}

.bg-light{
    width: 100%;
    height: auto;
    padding: 6%;
}
.section{
    display: flex;
    flex-direction: row;
    gap:2em;
}
.text-section{
    border:0px solid green;
    width: 34vw;
    padding: 10px;
}
.section-title{
    color: #222;
    font-family: lato,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    font-size: 30px;
    text-align: justify;
}
.section-paragraph{
    text-align: justify;
    font-weight: 400;
    color: #777;
    font-size: 16px;
    line-height: 1.7;
    font-family: "lato",sans-serif;
}
.section-image{
    border: 0px solid black;
    height: 50vh;
    width: 50vw;
}
.section-image img{
    width: 44vw;
    height: 44vh;
}
.lightblue{
    display: flex;
    flex-direction: row-reverse;
}
.bg-lightblue-padding{
    padding-top: 2%;
    padding-left: 0px;
}
.second-title{
    padding-right: 10%;
}
.second-paragraph{
    padding-right: 8%;
}
.asset li{
    text-align: justify;
    font-weight: 400;
    color: #777;
    font-size: 16px;
    line-height: 1.7;
    font-family: lato,sans-serif;
    padding-right: 8%;
}
.workflow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}
.workflow .h2{
    text-align: center;
}
.workflow-image {
    border: 0px solid black;
    width: 100%;
    height: 70vh;
}
.workflow-image img{
    display: block;
    width: 70vw;
    height: 70vh;
    margin: auto;
}
/*.section-image-header2{
    width: 44vw;
    height: 44vh;
    background-image: url(../images/header2.png);
    background-repeat: no-repeat;
    background-size: cover;
}*/
.before-stat,.atout h2,.partner h2{
    text-align: center;
    margin-top:2%;
    font-weight: bold;
    font-size:30px;
    padding-top: 20px;
}
.stat{
    margin:2% auto;
    display: flex;
    flex-direction: row;
}
.group{
    height: auto;
    width: 20vw;
    border-radius: 12px;
    transition: .2s ease;
    background-color: #fff;
    padding: 2px;
    margin-right: 2%;
    margin:0 auto;
    color: #222;
}
.bts:hover,.licence:hover,.master1:hover,.master2:hover{
    margin-top: 1%;
    box-shadow: 0 12px 24px 8px rgba(45,67,121,.1)!important;
}
.group:hover{
    -moz-box-shadow: 0 0 8px rgba(223, 221, 221, 0.747);
    -webkit-box-shadow: 0 0 8px rgba(223, 221, 221, 0.747);
    box-shadow: 0 0 8px rgba(223, 221, 221, 0.747);
}

h3,#compteur,#compteur1,#compteur2,#compteur3,.up{
    text-align: center;
}
#compteur,#compteur1,#compteur2,#compteur3{
    font-size: 30px;
    font-weight: bold;
}
.cape{
    text-align: center;
}   
.newsletter{
    margin-top:2%;
}
.newsletter-title-form{
    margin-left:2%;
    font-weight:bold;
    color: #222;
}
.form{
    border-radius: 12px;
    border:0px solid black;
    margin-top:2%;
    padding:12px;
}
::placeholder{
    font-size:20px;
    font-weight: 500;
    font-style: italic;
    color:rgb(179, 169, 169);
}
.input{
    margin-left:2%;
    margin-bottom:2%;
}
input[type="email"]{
    padding-left:2em;
    width: 74vw;
    height: 50px;
    border-radius: 14px;
    outline: none;
    border:0px;
    transition: 0.2 ease;
}
.input input[type="email"]:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 3px solid #88D5E9;
}
input[type="submit"]{
    width: 180px;
    height: 50px;
    border-radius: 14px;
    border:0px;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    color:white;
    cursor: pointer;
    transition: 0.2 ease;
    background-color: #A2C53D;
}
input[type="submit"]:hover{
    background-color: #C82C8D;
    color:white;
}
.partner{
    margin-top: 2%;
    width: 86vw;
    height: 40vh;
}
.partner ul{
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    justify-content: center;
}
.svg-logo li{
    list-style-type: none;
    margin-top: 4%;
}
.svg-logo li img{
    width: 10vw;
    height: 10vh;
}
.footer{
    /*border:0px solid black;*/
    margin-top:2%;
    background-color: #edf6f5!important;
    color:#222;
    
}
footer{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-left:14px;
    padding-right: 14px;
    align-items: center;
    justify-content: center;
}
span{
    font-weight: bold;
}
.recap{
    width: 40vw;
    padding: 14px;
    text-align: justify;
    font-size: 18px;
}
.footer-nav-link{
    width: 20vw;
    padding: 6px;
    font-size: 18px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-nav-link ul li{
    margin-top:30%;
    list-style: none;
}
.social-link ul li{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:0px solid rgb(90, 88, 88);
    list-style: none;
}
.facebook:hover{
    background-color:white;
    color:rgb(32, 35, 235);
}
.twitter:hover{
    background-color:white;
    color:#02b7ff;
}
.linkedin:hover{
    background-color:#0E76A8;
    color:white;
}
.github:hover{
    background-color:white;
    color:#171515;
}
.youtube:hover{
    background-color:#C4302B;
    color:white;
}.instagram:hover{
    background-color:#ee1717;
    color:white;
}
ul .link a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color:#A2C53D;
    font-weight: bold;
}
.social-link{
    width: 40vw;
    padding:30px;
    font-size: 18px;
}
.social-link ul li{
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
