body{
    font-family: "lato";
    background-image: url(../images/campus1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:#222;
}
.linktohome{
     margin-top: 4%;
}
a{
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(130, 224, 67);
    border-radius: 12px;
    padding: 10px;
   
}
a::after{
    content:"Back to Home";
    color:rgb(255, 255, 255);
}
form{
    width: 40vw;
    height: 80vh;
    padding: 0px;
    margin: 0 auto;
    border:0px solid black;
}
.form h3{
    text-align: center;
}
.first-row,.input-level,.input-filiere{
    margin-bottom: 10%;
}
.input-text{
    margin-top: 8%;
}
select{
    width: 19vw;
    height: 40px;
    border-radius: 10px;
    outline: none;
    padding-left: 1em;
}
input[type="email"],input[type="password"],input[type="text"]{
    padding-left:1em;
    width: 30vw;
    height: 50px;
    border-radius: 14px;
    outline: none;
    border:0px;
    margin-left:2%;
}
label{
    font-weight: bold;
    font-size: 18px; 
    color:#fff;
}
input[type="submit"]{
    width: 30vw;
    height: 50px;
    border-radius: 12px;
    border:1px solid rgb(212, 209, 209);
    outline: none;
    font-size: 20px;
    font-weight: bold;
    color:blueviolet;
    cursor: pointer;
    margin:0 auto;
    margin-left: 12%;
}
::placeholder{
    font-weight: bold;
}
input[type="submit"]:hover{
   color: rgb(0, 255, 85);
    background-color: rgb(113, 112, 182);
}
input[type="password"]:focus,input[type="email"]:focus,input[type="text"]:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 2px solid #88D5E9;
}
i{
    color:#000;
}